<div class = "search-result-title">
  <P> 15 venues available from 12/31/19 to 01/02/20 </p>
</div>

<!--<<h1>Stays in <%= @query %></h1>> -->
ff
<div class ="container">
  <div class ="row">
    <div class ="col-sm-6 offset-sm-2">
      <a class ="btn btn-ghost" href ="#">Price</a>
      <a class ="btn btn-ghost" href ="#">Nice Amenities</a>
      <a class ="btn btn-ghost" href ="#">Half day avilable</a>
      <a class ="btn btn-ghost" href ="#">Cancellation Flexibility</a>
    </div> 
  </div>

  <div id = "map">
  </div>
  <div class = "venue-product">
    <!-- perhaps can add in elite status and carousel if time permits -->
    <!-- <% @venues.each do |venue| %> -->

    <div class = "venue-image">
      <img src ="https://a0.muscache.com/im/pictures/e5adaf60-db66-48a5-b2c7-159b45a1e7f1.jpg?im_w=720">
    </div>

    <div class ="venue-card-infos">
      <div class ="venue-card-description">
        <p> Room in boutique hotel in Chinatown</p>
      </div>

      <div class ="venue-card-heart">
        <i class="fa fa-heart-o" aria-hidden="true" style="font-size:50px;"></i>
      </div>

      <div class ="venue-card-name">
        <h3>Single cabin shared bathroom in Tanjong</h3>
      </div>

      <div class ="venue-card-amenities">
        <p>1 guest · Studio · 1 bed · 1 shared bathroom
        </p>
      </div>

      <div class ="venue-card-rating">
        <p><strong>4.89</strong>(46)</p>
      </div>

      <div class ="venue-card-capacity">
        <p>100 pax</p>
      </div>

      <div class ="venue-card-price">
        <h3><strong>$36 SGD / Day</strong></h3>
      </div>

      <div class ="venue-card-price-total">
        <p><u>$36 SGD</u></p>
      </div>
    </div>

    <div style ="margin-top: 0px; margin-bottom: 0px;"></div>
</div>

