.account_header {
  h1 {
    font-weight: 600;
    font-size: 50px;
  }
}

.venue-card {
  display: flex;
  padding: 0 6px;

  h1 {
    padding: 20px 10px 0 22px;
    font-size: 22px;
    font-weight: 700;
  }
  .flat-detials {
    font-size: 12.5px;
    padding: 0 0 0 22px;
    font-weight: 500;
  }

  p {
    padding: 0 10px 0 22px;
    margin-bottom: 10px;
  }
  .description p {
    font-size: 14px;
    opacity: 0.4;
    padding: 0 25px 20px 22px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .details {
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }
}

.venue-section{
  padding-top: 30px;
}
